template(name='home')
    .ui.stackable.padded.grid(style="background: url('https://www.forrentbyowner.com/img/apartment-rental-by-owner.webp') no-repeat fixed center; height:300px;")
        .centered.row(style="height:500px")
            .ten.wide.column
                .ui.header find your next home fast
                .ui.large.fluid.input
                    input(type='text' placeholder='Enter a city and state...')
        .centered.row 
            .sixteen.wide.column
                .ui.center.aligned.dividing.header Recent Listings
                each recent_listings
                    +listing_small
        .centered.row 
            .five.wide.column
                .ui.segment 
                    .ui.header 
                        img.ui.avatar.compact.image(src="{{c.url currentUser.company_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                        |#{currentUser.company_title}
                    .ui.large.list
                        .item #{currentUser.company_title}
                        .item #{currentUser.company_phone}
                        .item #{currentUser.company_city}
            .four.wide.column
                .ui.segment 
                    .ui.header finance
                    .ui.header budget
                    .ui.header edit lead preferences
            .four.wide.column
                .ui.segment 
                    .ui.header finance
                    .ui.header budget
                    .ui.header edit lead preferences
                    
        .centered.row
            .eight.wide.column
                .ui.segment
                    .ui.header leads     
                    .ui.stackable.menu
                        a.item new
                        a.item in progress
                        a.item all
                        a.item credit requests
            .four.wide.column
                .ui.segment
                    .ui.link.selection.list
                        .item.header HELPFUL LINKS
                        a.item Vetted Network FAQ
                        a.item Change Payment Method
                        a.item Financial Center
                        a.item Add money to balance
            .four.wide.column
                .ui.segment
                    .ui.large.list
                        .item Questions? Give us a call at:
                        .item 206-960-4337
                        .item 6AM - 5PM PST Monday - Friday
                        a.item Or contact our support staff
                        a.item Pro Resources
                        a.item Lead Credits Policy